{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Site

    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body id="top" class="d-flex flex-column min-vh-100 overflow-x-hidden">

    <nav class="navbar navbar-expand-sm navbar-dark sticky-top">

        <div class="container-fluid">

                <a class="navbar-brand fs-1" href="{% url 'home' %}"><img src="{% static 'image/logovitta+.png' %}"
                    alt="Vitta+"> Vitta+ </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="mynavbar">

                <ul class="navbar-nav me-auto">

                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'home' %}">Início</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'consults_list' %}">Lista de Consultas</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'consults_add' %}">Criar Consulta</a>

                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu</a>

                        <ul class="dropdown-menu">

                            <li>

                                <a class="dropdown-item" href="#">Contatos</a>

                            </li>

                            <li>

                                <a class="dropdown-item" href="#">Links</a>

                            </li>

                            <hr>

                            <li>

                                <a class="dropdown-item" href="#">Sobre Nós</a>

                            </li>

                            <li>

                                <a class="dropdown-item" href="#">Sobre o Autor</a>

                            </li>

                            <hr>

                            <li>

                                <a class="dropdown-item" href="#">Políticas de Privacidade</a>

                            </li>

                        </ul>

                    </li>

                </ul>

                <form class="d-flex">

                    <input class="form-control me-2" type="text" placeholder="Search">

                    <button class="btn btn-primary" type="button">Pesquisar</button>

                </form>

            </div>

        </div>

    </nav>

    <main class="flex-grow-1">

        {% block content %}

        {% endblock %}

    </main>

    <div class="footer bg-success text-light">

        <footer class="container d-flex justify-content-between align-items-center">

            <a href="{% url 'home' %}"><i class="bi bi-house-door-fill fs-2"></i></a>

            <div>&copy; 2026 Vitta+. Todos os direitos reservados.</div>

            <a href="#top"><i class="bi bi-arrow-up-circle-fill fs-2"></i></a>

        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>